<h1 class="page-title">Seasonal products</h1>
<div>
    <%= for product <- @seasonal_products do %>
        <div class="product">
            <div class="product-name"><%= product.name %></div>
            <div>USD <span class="product-price"><%= product.price %></span></div>
        </div>
    <% end %>
</div>